:root {
  // --tr-enter-jolly: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1);
  // --tr-enter-jolly: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  --bg-b_modal-overlay: rgba(0, 0, 0, 0.8);
  --c-b_modal-closer-hover: #ff3b30;
  --z-b_modal: 1234567890;
  // opacity 0.5s cubic-bezier(0.4, 0, 0, 1);
}

.b_modal__storage {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-b_modal);
  display: block;
  width: 100%;
  height: calc(100 * 1vh);
  max-height: 1000px;
  pointer-events: none;
}
.b_modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100 * 1vh);
  max-height: 1000px;
  pointer-events: none;
  background-color: var(--bg-b_modal-overlay);
  opacity: 0;
  transition: all 0.3s ease;
}
.b_modal__overlay._show {
  pointer-events: initial;
  opacity: 1;
}

.b_modal__aligner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.b_modal {
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  border-radius: 2em;
  transition: all 0.3s ease;
  transform: scale(0.86);
  position: relative;
}
._show .b_modal {
  transform: scale(1);
}

.b_modal__closer {
  position: absolute;
  top: 0;
  right: -2.12rem;
  display: block;
  width: 1.56rem;
  height: 1.56rem;
  font-size: 0;
  background-color: transparent;
  transition: all 0.3s ease;
  --closer-color: #fff;
}
.b_modal__closer::before,
.b_modal__closer::after {
  position: absolute;
  top: 48%;
  left: 0;
  display: block;
  width: 100%;
  height: 10%;
  content: "";
  background-color: var(--closer-color);
  border-radius: 1em;
  transition: all 0.3s ease;
}
.b_modal__closer::before {
  transform: rotate(45deg);
}
.b_modal__closer::after {
  transform: rotate(-45deg);
}
.b_modal__closer:hover::before,
.b_modal__closer:hover::after {
  background-color: var(--c-b_modal-closer-hover);
}

/*

  Animations

    transition: opacity .5s cubic-bezier(.4,0,0,1),-webkit-transform .5s cubic-bezier(.4,0,0,1)!important;
    transition: transform .5s cubic-bezier(.4,0,0,1),opacity .5s cubic-bezier(.4,0,0,1)!important;

    transition: transform .5s cubic-bezier(.4,0,0,1),opacity .5s cubic-bezier(.4,0,0,1),-webkit-transform .5s cubic-bezier(.4,0,0,1)!important;

    transform: scale(.86);
    opacity: 0;
*/

// transition: opacity .5s cubic-bezier(.5,0,.5,1)

// transition: opacity .7s cubic-bezier(.5,0,.5,1)!important;
.b_modal__overlay._enter--jolly {
  // transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1),
  // opacity 0.5s cubic-bezier(0.4, 0, 0, 1);
}

/*

  b_modal theme


*/

.b_modal {
  width: 100%;
  background: #fff;
  border-radius: var(--brad-regular);
}
.b_modal--overlay {
  background: var(--bg-b_modal-overlay);
}

.b_modal__closer {
  color: transparent;
}

.b_modal__title {
  margin-bottom: 20px;
  font-family: var(--ff-title);
  font-size: 18px;
  line-height: 126%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.b_modal__title-link {
  color: inherit;
}
.b_modal__title-link:hover {
  @media (min-width: $minHover) {
    color: var(--c-accent);
  }
}

.b_modal__button {
  display: block;
  width: 100%;
  @media (max-width: 768px) {
    padding-top: 15px;
    padding-bottom: 16px;
  }
}

.b_modal__closer::before,
.b_modal__closer::after {
  top: 44%;
  right: 0;
  width: 100%;
  height: 0.19rem;
  margin-right: auto;
  margin-left: auto;
}
