:root {
   // --tr-enter-jolly: opacity 0.5s cubic-bezier(0.5, 0, 0.5, 1);
   // --tr-enter-jolly: all 0.5s cubic-bezier(0.4, 0, 0, 1);
   --bg-b_modal-overlay: rgba(0, 0, 0, 0.8);
   --c-b_modal-closer-hover: #ff3b30;
   --z-b_modal: 1234567890;
   // opacity 0.5s cubic-bezier(0.4, 0, 0, 1);
}

.b_modal__storage {
   position: relative;
   position: fixed;
   top: 0;
   left: 0;
   z-index: var(--z-b_modal);
   display: block;
   width: 100%;
   height: calc(100 * 1vh);
   max-height: 1000px;
   pointer-events: none;
}

.b_modal__overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow-x: hidden;
   overflow-y: auto;
   pointer-events: none;
   background-color: var(--bg-b_modal-overlay);
   opacity: 0;
   transition: all 0.3s ease;
}

.b_modal__overlay._show {
   pointer-events: initial;
   opacity: 1;
}

.b_modal__aligner {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   padding: 1em;
}

.b_modal {
   display: none;
   margin-right: auto;
   margin-left: auto;
   background-color: #fff;
   border-radius: 2em;
   transition: all 0.3s ease;
   transform: scale(0.86);
   position: relative;
}

.b_modal__overlay .b_modal {
   display: initial;
}

.b_modal__closer {
   position: absolute;
   top: 0;
   right: -3rem;
   display: block;
   width: 2rem;
   height: 2rem;
   font-size: 0;
   background-color: transparent;
   transition: all 0.3s ease;
   --closer-color: #fff;

   @media (max-width: 1400px) {
      top: -3rem;
      right: 0rem;
   }
}

.b_modal__closer::before,
.b_modal__closer::after {
   position: absolute;
   top: 48%;
   left: 0;
   display: block;
   width: 100%;
   height: 10%;
   content: "";
   background-color: var(--closer-color);
   border-radius: 1em;
   transition: all 0.3s ease;
}

.b_modal__closer::before {
   transform: rotate(45deg);
}

.b_modal__closer::after {
   transform: rotate(-45deg);
}

.b_modal__closer:hover::before,
.b_modal__closer:hover::after {
   background-color: var(--c-b_modal-closer-hover);
}

/*

  Animations

    transition: opacity .5s cubic-bezier(.4,0,0,1),-webkit-transform .5s cubic-bezier(.4,0,0,1)!important;
    transition: transform .5s cubic-bezier(.4,0,0,1),opacity .5s cubic-bezier(.4,0,0,1)!important;

    transition: transform .5s cubic-bezier(.4,0,0,1),opacity .5s cubic-bezier(.4,0,0,1),-webkit-transform .5s cubic-bezier(.4,0,0,1)!important;

    transform: scale(.86);
    opacity: 0;
*/

// transition: opacity .5s cubic-bezier(.5,0,.5,1)

// transition: opacity .7s cubic-bezier(.5,0,.5,1)!important;
.b_modal__overlay._enter--jolly {
   // transition: transform 0.5s cubic-bezier(0.4, 0, 0, 1),
   // opacity 0.5s cubic-bezier(0.4, 0, 0, 1);
}

/*

  b_modal theme


*/

.b_modal {
   width: 100%;
   background: #fff;
   border-radius: var(--brad-regular);
}

.b_modal--overlay {
   background: var(--bg-b_modal-overlay);
}

.b_modal__closer {
   color: transparent;
}

.b_modal__title {
   margin-bottom: 20px;
   font-family: var(--ff-title);
   font-size: 18px;
   line-height: 126%;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 0.03em;
}

.b_modal__title-link {
   color: inherit;
}

.b_modal__title-link:hover {
   @media (min-width: $minHover) {
      color: var(--c-accent);
   }
}

.b_modal__button {
   display: block;
   width: 100%;

   @media (max-width: 768px) {
      padding-top: 15px;
      padding-bottom: 16px;
   }
}

.b_modal__closer::before,
.b_modal__closer::after {
   top: 44%;
   right: 0;
   width: 100%;
   height: 0.19rem;
   margin-right: auto;
   margin-left: auto;
}

.modal-maps {
   width: 170rem !important;
   padding: 0 !important;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   height: 80rem !important;

   @media (max-width: 1780px) {
      width: 90rem !important;
      height: auto !important;
      top: 0;
      left: auto;
      transform: none;
   }
}


.modal-maps .modal__inner {
   overflow: hidden;
   border-radius: 10px;
   display: flex;
   flex-direction: row-reverse;

   @media (max-width: 1780px) {
      flex-direction: column;
   }
}

.modal-maps__map-iframe {
   width: 120rem;
   height: 100%;

   @media (max-width: 1780px) {
      height: 64rem;
      width: auto;
   }
}

.modal-maps__body {
   padding: 4rem 3rem;
}

.modal-maps__title-wr {
   margin-bottom: 3rem;
   display: flex;
   gap: 0 2rem;
}

.modal-maps__title {
   font-size: 2.8rem;
   font-weight: 700;
   text-transform: uppercase;
}

.modal-maps__counter {
   width: 3.7rem;
   height: 3.2rem;
   border-radius: 150px;
   background-color: #F6F6F6;
   font-weight: 600;
   display: flex;
   justify-content: center;
   align-items: center;
}

.modal-maps__item {
   font-size: 1.4rem;
   border-radius: 10px;
   padding: 1rem 1.5rem;
   margin-bottom: 3rem;
   border: 1px solid #fff;
   cursor: pointer;
   margin-right: 3rem;
}

.modal-maps__item:nth-last-child(1) {
   margin-bottom: 0;
}

.modal-maps__item-title {
   font-weight: 600;
   margin-bottom: 1.3rem;
   transition: .3s ease-in-out;
}

.modal-maps__address {
   margin-bottom: 1rem;
}

.modal-maps__table {
   td {
      padding-bottom: 1rem;
   }

   tr:nth-last-child(1) td {
      padding-bottom: 0;
   }

   td:nth-child(1) {
      color: #888888;
      width: 8.5rem;
   }
}

.modal-maps__table a {
   color: var(--c-accent);
}

.modal-maps__item-active {
   border: 1px solid #B4B4BF;

   .modal-maps__item-title {
      color: var(--c-accent);
   }
}

.modal-maps__item:hover {
   .modal-maps__item-title {
      color: var(--c-accent);
      transition: .3s ease-in-out;
   }
}

.modal-maps__scroll {
   height: 65rem;
   overflow-x: hidden;
   overflow-y: scroll;

   @media (max-width: 1780px) {
      height: 50rem;
   }
}

.modal-maps__scroll::-webkit-scrollbar {
   width: 0.5rem;
   border-radius: 10px;
}

.filters-block__main::-webkit-scrollbar-track {
   background: transparent;
}

.modal-maps__scroll::-webkit-scrollbar-thumb {
   background: #ECECEC;
   border-radius: 100px;
}

.modal-maps__scroll::-webkit-scrollbar-thumb:hover {
   background: #B4B4BF;

}

.modal-maps .b_modal__closer {
   top: 0;
   right: -4rem;
   width: 3rem;
   height: 3rem;
}

.modal-form-placement .modal__wr {
   display: flex;
   justify-content: space-between;
}

.modal-form-placement .modal__event {
   width: 36rem;
}

.modal-form-placement .modal__inner {
   width: 42rem !important;
}

.modal-form-placement {
   width: 96rem !important;
}

.modal__event-item {
   width: 36rem;
}

.modal-form-placement .form-feedback__title {
   font-size: 2rem;
}

.modal__event-item {
   margin-bottom: 3rem;
}

.modal__event-item:nth-last-child(1) {
   margin-bottom: 0;
}

.modal__event .form-feedback__title {
   text-align: left;
}

.modal-alert-request .modal-alert__pic-send{
   width: 11rem;
}

.modal-app {
  width: 50rem !important; 
  padding: 4rem !important;
}

.modal-app .modal__inner {
   text-align: center;
}

.modal-app .store {
   gap: 1.5rem;
   margin-top: 3rem;
}

.modal-app .store-item {
   width: 50%;
   background-color: #F6F6F6;
   height: 6rem;
   border: none;
}

.modal-app .store-item__text {
   font-size:  1.8rem;
   text-align: left;
}

.modal-app .store-item__img {
   height: 3.5rem;
}

.modal__event-wr .faq-item__imgs {
   display: block;
   cursor: auto;
}

.modal__event-wr {
   .faq-item__img-wr {
      margin-bottom: 3rem;
   }
}

.modal__event p {
   margin-bottom: 1rem;
}
