.breadcrumbs {
 font-weight: 400;
 font-size: 1.4rem;
 color: #888888;
 margin-bottom: 1.25rem;//20px;
 flex: 0 1 auto;
}
.breadcrumbs__list {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 white-space: nowrap;
}

.breadcrumbs__item {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 transition: 0.4s;
}
.breadcrumbs__item::after {
 margin-left: 0.5rem;
 margin-right: 0.5rem;
 content: "";
 display: block;
 width: 1.6rem;
 height: 1.6rem;
 background-image: url("../img/common/breadcrumbs-arrow.svg");
 // background-size: 0.5625rem;//9px;
 background-repeat: no-repeat;
 background-position: center;
}
.breadcrumbs__item:last-of-type::after {
 content: none;
}



.breadcrumbs__item:hover {
 color: var(--c-accent);
}
