.breadcrumbs {
   font-weight: 400;
   font-size: 1.4rem;
   color: #888888;
   margin-bottom: 2rem;
   flex: 0 1 auto;
}

.breadcrumbs__list {
   display: -webkit-box;
   -webkit-line-clamp: 1;
   position: relative;
   -webkit-box-orient: vertical;
   overflow: hidden;
}

.breadcrumbs__item {
   display: inline-block;
   transition: 0.4s;
}

.breadcrumbs__item::after {
   margin-left: 0.5rem;
   margin-right: 0.5rem;
   content: "";
   display: inline-block;
   width: 1.6rem;
   height: 1.6rem;
   background-image: url("../img/common/breadcrumbs-arrow.svg");
   background-repeat: no-repeat;
   background-position: center;
   vertical-align: middle;
   bottom: 1px;
   position: relative;
}

.breadcrumbs__item:last-of-type::after {
   content: none;
}

.breadcrumbs__item .breadcrumbs__link:hover {
   color: var(--c-accent);
   transition: .3s ease-in-out;
}