.comment {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--brad-regular);
  background: #FAFAFA;
  transition: 0.4s;
}

.comment:hover {
  background: #fff;
  transition: all .3s ease-in-out;
}

.comment__pic {
  --size: 5.6rem;
  width: var(--size);
  height: var(--size);
  min-width: var(--size);
  display: block;
  border-radius: 50%;
  margin-right: 2rem;
}

.comment__img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.comment__name {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.comment__text {
  font-size: 1.4rem;
  margin-bottom: 0.5rem
}

.comment__date {
  color: #888888;
  font-size: 1.4rem;
}

.comments-empty {
  padding: 2rem 0;
  width: 100%;
  text-align: center;
}