.cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  transition: .5s;
  transform: translate(0,100%);

  &._show {
    bottom: 16px;
    transform: translate(0);
  }

  @media screen and (max-width: 768px) {

    & .container {
      padding: 0;
    }

    &._show {
      bottom: 0;
    }
  }
}

.cookie__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  padding: 10px 16px;
  margin: 0 auto;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 6px 15px rgba(0,0,0,.1);

  @media screen and (max-width: 768px) {
    box-shadow: 0 -4px 15px rgba(0,0,0,.1);
  }
}

.cookie__content {
  display: flex;
}

.cookie-icon {
  min-width: 16px;
  height: 16px;

  & svg {
    width: 100%;
    height: 100%;
  }
}

.cookie-text {
  margin: 2px 0 0 6px;
  font-size: 12px;
  font-weight: 600;

  & a {
    color: $accent2;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.cookie-accept {
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0 0 0 16px;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5px;
    height: 12px;
    content: '';
    background: $second;
    transition: $tr;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5px;
    height: 12px;
    content: '';
    background: $second;
    transition: $tr;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover {

    &::before,
    &::after {
      background: $main;
    }
  }
}
