.edit-news p {
  line-height: 2.4rem;
  padding-bottom: 2rem;
}

.edit-news p:nth-last-child(1) {
  padding-bottom: 0;
}

.edit-news h4 {
  font-size: 2rem;
  line-height: 3rem;
  text-transform: uppercase;
  font-family: 'Oswald';
  padding-top: 2rem;
  padding-bottom: 2rem;
  letter-spacing: 0.1em;
}

.edit-news address {
  font-style: inherit;
}

