.modal-form-feedback {
   width: 54rem;
   padding: 4rem;
}

.form-feedback__wr a {
   color: var(--c-accent);
}

.form-feedback__title {
   text-align: center;
   font-size: 2.8rem;
   font-weight: 700;
   padding-bottom: 3rem;
   text-transform: uppercase;
}

.form-feedback__sub-title {
   line-height: 2.4rem;
   margin-bottom: 3rem;
   text-align: center;
}

.form-feedback__wr-input {
   margin-bottom: 1rem;
}

.form-feedback__input {
   border-radius: 10px;
   font-size: 1.4rem;
   width: 100%;
   color: var(--c-text-regular);
   padding: 1.1rem 2rem;
   border: 1px solid #B4B4BF;
}

.form-feedback__input::placeholder {
   color: #888888;
}

.form-feedback__inf {
   color: #888888;
   font-size: 1.4rem;
   text-align: center;
}

.form-feedback__inf a {
   color: var(--c-accent);
}

.form-feedback__buttons {
   margin-bottom: 3rem;
   gap: 1rem;
   display: flex;
   margin-top: 2rem;
   justify-content: space-between;
}

.form-feedback__buttons button:nth-child(1) {
   width: 13.1rem;
}

.form-feedback__buttons button:nth-child(2) {
   width: 100%;
}

.form-feedback__select {
   cursor: pointer;
   position: relative;
   user-select: none;

   svg {
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      right: 2rem;
      top: 54%;
      transform: translateY(-50%);
      z-index: -1;

      path {
         fill: #b4b4bf;
         transition: .3s ease-in-out;
      }
   }

   .form-feedback__input {
      cursor: pointer;
      user-select: none;
      padding: 1.1rem 4rem 1.1rem 2rem;
      background-color: initial;
      font-weight: 500;
      transition: .3s ease-in-out;
   }

   .form-feedback__input:hover {
      border-color: var(--c-accent) !important;
      transition: .3s ease-in-out;
   }

   .form-feedback__input:hover + svg {
      path {
         fill: var(--c-accent);
         transition: .3s ease-in-out;
      }
   }
  
   .form-feedback__select-list {
      display: none;
      position: absolute;
      top: 4.5rem;
      left: 0;
      background-color: #fff;
      border: 1px solid #B4B4BF;
      border-radius: 10px;
      padding: 1.6rem 2.1rem 0rem 2.1rem;
      width: 100%;
      box-shadow: 0px 10px 10px -8px rgba(0, 0, 0, 0.05);
   }

   .form-feedback__select-list-active {
      display: block;
   }
}

.form-feedback__select-active {
   .form-feedback__input {
      border-color: #888888 !important;
   }
}

.form-feedback__error {
   border-color: #F2243D;
}

.form-feedback__message {
   color: #F2243D;
   font-size: 1.2rem;
   margin-top: .5rem;
   font-weight: 500;
}