.hints {
  display: flex;
}

.hints__item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 20px;
}
.hints__item:last-child {
  margin-right: 0;
}

.hints__item-icon {
  display: block;
  --size: 35px;
  width: var(--size);
  min-width: var(--size);
  height: var(--size);
  margin-right: 16px;
}

.hints__item-text {
  padding-top: 7px;
  font-size: 14px;
  font-weight: 300;
  line-height: 140%;
}

.hints__item-text br {
  @media (max-width: 992px) {
    display: none;
  }
}
