.nav{
  display: flex;
  align-items: center;
}

.nav__list{
  display: flex;
  align-items: center;
}

.nav__item{
  margin-right: 3.13rem;
  font-size: 0.88rem;
  font-weight: 400;
  font-weight: 500;
}