.news-carousel{
 margin-bottom: 4rem;
}

.news-carousel--big{
 margin-bottom: 0.5rem;
 height: 45rem;
}

.news-carousel--small{
 height: 12.6rem;
}

.news-carousel--small .news-carousel__img{
 object-fit: cover;
}

.news-carousel--tuning .news-carousel__slide {
     background-color: #FAFAFA;
}

.news-carousel__slide {
     cursor: pointer;
}

.news-carousel--small .news-carousel__slide::after{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 content: '';
 background: #000;
 opacity: 0;
 transition: 0.4s;
}

.news-carousel--small .news-carousel__slide.swiper-slide-thumb-active::after{
 opacity: 0.5;
}