.news-card{
 overflow: hidden;
 border-radius: var(--brad-regular);
 background: #FFFFFF;
}

.news-card--wide{
 grid-column: span 2;
}

.news-card__top{
 width: 100%;
 height: 15rem;
 position: relative;
}

.news-card__pic{
 display: block; 
 width: 100%;
 height: 100%;
 filter: drop-shadow(2px 2px 5px rgba(210, 217, 220, 0.2));
}

.news-card__content{
 position: absolute;
 bottom: 0.94rem;
 left: 0.94rem;
 font-weight: 500;
 font-size: 0.88rem;
 color: #FFFFFF;
}

.news-card__info{
 padding: 0.94rem;
}

.news-card__descr{
 font-weight: 500;
 font-size: 1rem;
 margin-bottom: 0.63rem;
 min-height: 2.40rem;
 overflow: hidden;
 display: -webkit-box;
 -webkit-line-clamp: 2;
 -webkit-box-orient: vertical;
}

.news-card__bottom{
 display: flex;
 align-items: center;
 justify-content: space-between;
}