.snack {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #656666;
  background: rgba(33, 33, 33, 0.8);
  backdrop-filter: blur(14px);
  opacity: 0;
  transition: var(--tr-regular);
}
.snack--visible {
  opacity: 1;
}

.snack__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  justify-content: space-between;
  @media (max-width: 576px) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.snack__hl {
  color: var(--c-text-on);
}

.snack__buttons {
  @media (max-width: 576px) {
    max-width: 100%;
    padding-top: 14px;
  }
}
.snack__button {
  min-width: 172px;
  padding-top: 19px;
  padding-bottom: 22px;
  font-size: 15px;
  @media (max-width: 576px) {
    width: 100%;
  }
}
