.timer__wrapper {
  width: 100%;
  max-width: 400px;
  padding-right: 10px;
  padding-left: 10px;
  background: linear-gradient(
    139.01deg,
    rgba(255, 255, 255, 0.32) 3.57%,
    rgba(255, 255, 255, 0.32) 51.06%,
    rgba(255, 255, 255, 0.32) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  box-shadow: 0px 4px 24px rgba(232, 232, 232, 0.25);
  backdrop-filter: blur(14px);

  @media (max-width: 991px) {
    margin-right: auto;
    margin-left: auto;
  }
  @media (max-width: 767px) {
    max-width: 300px;
  }
}

.timer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #333333;
  text-align: center;

  @media (max-width: 767px) {
    font-size: 24px;
  }
  @media (max-width: 320px) {
    font-size: 25px;
  }
}

.timer__section {
  display: flex;
  justify-content: center;
}

.timer__digit {
  display: block;
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0px 3px 10px rgba(163, 169, 183, 0.17);
  @media (max-width: 767px) {
    padding: 8px;
  }
}

.timer__pic {
  width: 80%;
  margin-top: 27px;
  margin-right: auto;
  margin-left: auto;

  @media (max-width: 991px) {
    margin-top: -60px;
  }
  @media (max-width: 767px) {
    height: 180px;
    margin-top: 0;
  }
}
.timer__img {
  display: block;
  max-width: 100%;
  pointer-events: var(--pi-decor);

  @media (max-width: 767px) {
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    object-fit: contain;
  }
}

.timer__img[src=""] {
  display: none;
}
