.about-project .section-title {
   margin-bottom: 2rem;
}

.about-project p {
   padding-bottom: 2rem;
   line-height: 2.4rem;
}

.about-project p:nth-last-child(1) {
   padding-bottom: 0;
}

.about-project .sub-title {
   font-size: 2.4rem;
   text-transform: uppercase;
   font-family: 'Oswald';
   letter-spacing: 0.1em;
   margin-bottom: 2rem;
}

.about-project__item {
   margin-bottom: 3rem;
}

.about-project-logo {
   width: 22rem;
   display: block;
   margin-bottom: 4rem;
}

.about-project__title {
   font-size: 2.8rem;
   text-transform: uppercase;
   font-weight: 700;
   margin-bottom: 4rem;
   display: inline-block;
}

.about-project .news-content__video {
   width: 66rem;
   height: 33rem;
   margin-bottom: 4rem;

   @media (max-width: 1100px) {
      width: 100%;
   }
}

.about-project__social-wr {
   display: flex;

   @media (max-width: $tablet) {
      display: block;
   }
}