.rek-sidebar {
  display: block !important;
  width: 100%;
  padding: 1rem;
  height: auto;
  background: #fff;
  border-radius: var(--brad-regular);
}

.rek-sidebar__pic {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 0.31rem;
  overflow: hidden;
}

.rek-sidebar__img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}