.advertisement {
   margin-bottom: 6.25rem;
   position: relative;
}

.advertisement-carousel__pic {
   border-radius: var(--brad-regular);
}

.advertisement-carousel__img {
   border-radius: var(--brad-regular);
}