.brands{
 margin-bottom: 6.25rem;
}

.brands__gallery{
 display: grid;
 grid-template-columns: repeat(6, 1fr);
 gap: 1.25rem;
 width: 100%;
}

.brands-card{
 background: #FFFFFF;
 border-radius: var(--brad-regular);
 padding: 0.63rem 1.88rem;
 height: 5rem;
 transition: 0.4s;
}

.brands-card:hover{
 opacity: 0.7; 
}