.catalog {
  margin-top: 4.38rem;
  margin-bottom: 4.38rem;
}

.catalog-slide {
  margin-bottom: 10rem;
  position: relative;
}

.catalog__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem 4rem;
  width: 100%;
  margin-bottom: 4rem;
}

.catalog__gallery .swiper-slide {
  width: 30rem;
}

.catalog__gallery:last-child {
  margin-bottom: 0;
}

.catalog-slide-no-mb {
  margin-bottom: 0;
}

.catalog__gallery_slide {
  display: flex;
}

.catalog__gallery_slide .catalog-card {
  width: 30rem;
  display: inline-block;
}