.catalog {
   // margin-bottom: 4.38rem;
}

.catalog-slide {
   margin-bottom: 8rem;
   position: relative;

   @media screen and (max-width: $tablet) {
      margin-bottom: 0;
   }
}

.catalog__gallery {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 3rem 4rem;
   width: 100%;
   margin-bottom: 6rem;

   @media screen and (max-width: 1450px) {
      gap: 3rem 2.5rem;
   }

   @media screen and (max-width: 850px) {
      grid-template-columns: repeat(3, 1fr);
   }
}

.catalog__gallery .swiper-slide {
   width: 30rem;
}

.catalog-slide-no-mb {
   margin-bottom: 0;
}

.catalog__gallery_slide {
   display: flex;
}

.catalog__gallery_slide .catalog-card {
   width: 30rem;
   display: inline-block;
}