.footer {
  padding: 6rem 0rem;
}

.footer__container {
  padding: 0;
}

.footer__separator {
  margin: 3rem 0;
  height: 1px;
  background: #ececec;
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__nav-item {
  display: inline-block;
  padding-right: 5rem;
}

.footer__nav-link {
  font-size: 1.4rem;
  font-weight: 500;
  transition: .3s ease-in-out;
}

.footer__nav-link:hover {
  opacity: .7;
  transition: .3s ease-in-out;
}

.footer__lang {
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem 0.6rem 1.4rem;
  border: 1px solid #383838;
  border-radius: var(--brad-regular);
  margin-left: auto;
  transition: 0.4s;
}

.footer__lang:hover {
  opacity: 0.7;
}

.footer__lang-icon {
  height: 2.2rem;
  width: 2.2rem;
  margin-right: 0.63rem;
}

.footer__lang-text {
  font-weight: 500;
  font-size: 1.4rem;
  padding-right: 5.5rem;
}

.footer__lang-arrow {
  height: 2.4rem;
  width: 2.4rem;
  margin-left: auto;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  margin-bottom: 2.5rem;
}

.footer__desc {
  max-width: 70rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin-bottom: 4.5rem;
}

.footer__credits {
  display: flex;
  align-items: center;
}

.footer__credits-socials {
  display: flex;
  align-items: center;
  gap: 0.94rem;
  margin-right: 4rem;
}

.footer__credits-item {
  --size: 3.3rem;
  width: var(--size);
  height: var(--size);
  border-radius: 0.5rem;
}

.footer__credits-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 0.31rem;
  transition: 0.4s;
}

.footer__credits-link:hover {
  opacity: 0.7;
}

.footer__credits-link_facebook {
  background: #446294;
}

.footer__credits-link_twitter {
  background: #40abe2;
}

.footer__credits-link_vk {
  background: #0077ff;
}

.footer__credits-link_youtube {
  background: #ff0000;
}

.footer__credits-link_instagram {
  background: #b93088;
}

.footer__credits-link img,
.footer__credits-link svg {
  --size: 2rem;
  width: var(--size);
  height: var(--size);
}

.footer__credits-text p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.footer__credits-text p:first-child {
  margin-bottom: 0.31rem;
}

.footer__download {
  border: 1px solid #b4b4bf;
  box-shadow: 0px 15px 25px rgba(204, 214, 240, 0.5);
  border-radius: var(--brad-regular);
  overflow: hidden;
  width: 41.8rem;
  position: relative;
  margin-top: 3rem;
}

.footer__download-text {
  font-weight: 700;
  font-size: 2rem;
  background: #eef1f9;
  padding: 2.8rem;
  text-transform: uppercase;
}

.footer__download-shops {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.2rem 2.8rem;
}

.footer__download-block {
  display: flex;
  align-items: center;
  transition: .3s ease-in-out;
}

.footer__download-block:hover {
  opacity: .7;
  transition: .3s ease-in-out;
}

.footer__download-img {
  width: 3rem;
  height: auto;
  margin-right: 1.4rem;
}

.footer__download-name p:nth-child(1) {
  font-weight: 500;
  font-size: 1.4rem;
}

.footer__download-name p:nth-child(2) {
  font-weight: 600;
  font-size: 1.8rem;
}
