.news{
 // padding-top: 4.38rem;
 margin-bottom: 4.38rem;
}

.news__gallery{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 1.88rem 2.50rem;
 width: 100%;
}

.news-slide {
 overflow-x: scroll;
}

.news__gallery_slide{
 display: flex;
}

.news__gallery_slide .news-card{
 width: 18.88rem;
 min-width: 18.88rem;
}


.news-slide::-webkit-scrollbar {
 height: 0;
}

.news-slide::-webkit-scrollbar-track {
 background: transparent;
}

.news-slide::-webkit-scrollbar-thumb {
 background: transparent;
}

.news-slide::-webkit-scrollbar-thumb:hover {
 background: transparent;
}

.news__button-load{
 padding: 0.69rem 3.75rem;
 text-transform: uppercase;
 font-weight: 700;
 font-size: 0.88rem;
 display: block;
 margin: 0 auto;
}

.news-navigation__list{
 display: flex;
 align-items: center;
 gap: 0 3.75rem;
 margin-bottom: 2.5rem;
}

.news-navigation__link{
 font-family: 'Oswald';
 font-size: 1.25rem;
 text-transform: uppercase;
 letter-spacing: 0.1em;
 transition: .4s;
}

.news-navigation__link:hover{
 opacity: 0.7;
}

.news-navigation__link:active{
 opacity: 1;
 color: var(--c-accent);
}


.news-navigation__link_active{
 color: var(--c-accent);
}

.news-navigation__link_active:hover{
 opacity: 1;
}

.news-navigation__link_last{
 display: flex;
 align-items: center;
}

.news-navigation__link_last img,
.news-navigation__link_last svg{
 --size: 1.50rem;
 width: var(--size);
 min-width: var(--size);
 height: var(--size);
 margin-left: 0.63rem;
}

.main__container-news{
 margin-bottom: 8.75rem;
}

.news-single{
 width: 64rem;
}

.news-single__artcile{
 padding: 1.88rem 3.125rem 2.50rem;
 background: #fff;
 border-radius: var(--brad-regular);
}

.news-content{
 margin-bottom: 2.5rem;
}

.news-content p {
 font-size: 1rem;
 line-height: 1.5rem;
 margin-bottom: 0.88rem;
}

.news-content__video{
 position: relative;
 width: 24.38rem;
 height: 13.75rem;
}

.news-content__video-pic{
 display: block;
 width: 100%;
 height: 100%;
}

.news-content__video-img{
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.news-content__video .news-content__video-time{
 position: absolute;
 right: 0.63rem;
 bottom: 0.63rem;
 color: #FFFFFF;
 background: #383838;
 border-radius: 5px;
 padding: 0.25rem 0.50rem;
 font-weight: 600;
 font-size: 1rem;
 margin: 0;
}

.align-left{
 display: inline;
 float:left; 
 margin-right: 2.5rem;
}

.align-right{
 display: inline;
 float:right; 
 margin-left: 2.5rem;
}

.news-editor{
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.news-bottom{
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 2.5rem;
}

.news-bottom__left{
 display: flex;
 align-items: center;
 gap: 1.25rem
}

.news-bottom__left .bottom-button{
 padding: 0.65rem 1.14rem;
 background: #EEF1F9;
 border-radius: 500px;
}

.news-bottom__right{
 display: flex;
 align-items: center;
 gap: 1.88rem
}

.news-bottom__date{
 color: #888888;
 font-size: 1rem;
}

.news-bottom-share{
 background: #EEF1F9;
 border-radius: 500px;
 width: 2.75rem;
 height: 2.50rem;
 display: flex;
 align-items: center;
 justify-content: center;
 cursor: pointer;
 transition: 0.4s;
}

.news-bottom-share img,
.news-bottom-share svg{
 width: 1.25rem;
}

.news-bottom-share:hover{
 opacity: 0.7;
}

.news-divider{
 margin-bottom: 1.88rem;
 height: 1px;
 background: #ECECEC;
}