.tuning{
 margin-bottom: 6.25rem;
}

.tuning__gallery{
 display: grid;
 grid-template-columns: 18.88rem repeat(4, 1fr);
 gap: 1.25rem;
 width: 100%;
}

.tuning-card{
 min-height: 10rem;
 border-radius: var(--brad-regular);
 overflow: hidden;
 position: relative;
}

.tuning-card--tall{
 grid-row-start: 1;
 grid-row-end: 3;
 grid-column-start: 1;
}

.tuning-card__pic{
 display: block;
 width: 100%;
 height: 100%;
 border-radius: var(--brad-regular);
}

.tuning-card__img{
 width: 100%;
 height: 100%;
 border-radius: var(--brad-regular);
}

.tuning-card__name{
 position: absolute;
 bottom: 0.94rem;
 left: 1rem;
 text-transform: uppercase;
 color: #fff;
 font-weight: 700;
 font-size: 1.25rem;
}