.acc-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  width: 100%;
  height: 100%;
  margin: 32px 0;
}

.acc {
  display: block;
  border-top: 1px solid $text-primary;
  border-bottom: 1px solid $text-primary;
  transition: $tr;

  &.is-show {
    & > .acc__toggler {
      & .acc__toggler-icon {
        transform: scale(-1, -1);
      }
    }

    & > .acc__body {
      visibility: visible;
      opacity: 1;
    }
  }
}

// Шапка аккордеона
.acc__toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  text-align: left;
  cursor: pointer;
}

.acc__toggler-title {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.3;
  // pointer-events: none;
  transition: $tr;
}

.acc__toggler-icon {
  position: relative;
  display: block;
  width: 42px;
  min-width: 42px;
  height: 29px;
  margin-left: 16px;
  transition: $tr;
}

// Тело аккордеона
.acc__body {
  // max-height: 0;
  // opacity: 0;
  // visibility: hidden;
  overflow: hidden;
  transition: $tr;
}

.acc__content {
  padding: 0 16px 16px;
}
