.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 54px;
   padding: 0 50px;
   font-size: 0.875rem;
   font-weight: 700;
   white-space: nowrap;
   user-select: none;
   border-radius: 50px;
   transition: $tr;

   @media (any-hover: hover) {
      &:hover {
         background: #000;
      }
   }
}

.link {
   transition: $tr;

   @media (any-hover: hover) {
      &:hover {
         color: $accent;
      }
   }

   &:active {
      color: brig-color($accent, active);
   }
}

.btn-burger {
   cursor: pointer;
   z-index: 10;
   margin-top: -0.5rem;

   &__bar-1,
   &__bar-2,
   &__bar-3 {
      width: 3rem;
      border-radius: 10px;
      height: 3px;
      background-color: var(--c-text-regular);
      margin: .7rem 0;
      transition: 0.3s ease-in-out;
      
   }
}

.btn-burger-active {
   .btn-burger__bar-1 {
      transform: translate(0, 11px) rotate(-45deg);
   }

   .btn-burger__bar-2 {
      opacity: 0
   }

   .btn-burger__bar-3 {
      transform: translate(0, -9px) rotate(45deg);
   }
}

.news-menu__button{
   @media (max-width: 1350px) {
     line-height: 2rem;
     height: 6rem;
   }
}