.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: $tr;

  &.is-show {
    overflow-y: auto;
    visibility: visible;
    opacity: 1;

    & .modal__wrap {
      transform: translate(0, 0);
    }
  }
}

.modal__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.modal__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 30px 16px;
  transition: $tr;
  transform: translate(0, 100vh);
}

.modal__window {
  position: relative;
  width: 100%;
  max-width: 615px;
  padding: 24px;
  background: #fff;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  transition: $tr;

  @media (any-hover: hover) {
    &:hover {
      transform: scale(1.1);
    }
  }

  &:active {
    @media (any-hover: hover) {
      transform: scale(1);
    }

    transform: scale(0.9);
  }
}
