.select {
  position: relative;
  width: 100%;
  height: 100%;

  &.is-open {
    & .select-input__chevron {
      transform: translate(0, -50%) scale(-1, -1);
    }

    & .select-dropdown {
      pointer-events: all;
      visibility: visible;
      opacity: 1;
    }
  }

  &.is-valid {
    & .select-input__title {
      color: $text-primary;
    }
  }

  &_s {
    & .select-input {
      height: 36px;
    }
  }
}

.select-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0;
  cursor: pointer;
  border: 1px solid $border-line;
  border-radius: 8px;
}

.select-input__icon {
  width: 30px;
  min-width: 30px;
  height: 30px;
}

.select-input__title {
  padding: 0 16px;
  color: $input-placeholder;
  pointer-events: none;

  @media (max-width: $mobile-l) {
    font-size: 16px;
  }
}

.select-input__chevron {
  position: absolute;
  top: 50%;
  right: 12px;
  display: block;
  width: 24px;
  height: 24px;
  pointer-events: none;
  transition: $tr;
  transform: translate(0, -50%);
}

.select-dropdown {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: $tr;
  transform: translate(0, 100%);
}

.select-dropdown__list {
  max-height: 210px;
  padding: 12px 0;
  overflow-y: auto;

  @include scrollbar(6px);
}

.select-dropdown__item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background: inherit;
  transition: $tr;

  &.is-selected {
    &::before {
      visibility: visible;
      opacity: 1;
    }
  }

  &::before {
    position: absolute;
    top: 50%;
    right: 20px;
    display: inline-block;
    width: 16px;
    height: 16px;
    visibility: hidden;
    content: "";
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.00002 16.2001L4.80002 12.0001L3.40002 13.4001L9.00002 19.0001L21 7.0001L19.6 5.6001L9.00002 16.2001Z' fill='%236C6C6C'/%3E%3C/svg%3E")
      no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0;
    transition: $tr;
    transform: translate(0, -50%);
  }

  &:hover {
    @media (any-hover: hover) {
      background: brig-color(#000, 0.05);
    }
  }

  &:active {
    background: brig-color(#000, 0.08);
  }
}
