
.swiper-pagination{
 position: absolute;
 left: 50%;
 transform: translateX(-50%);
 bottom: 1rem;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0 0.63rem;
 z-index: 2;
}

.swiper-pagination .swiper-pagination-bullet{
 --size: 0.8rem;
 width: var(--size);
 height: var(--size);
 background: #FFFFFF;
 border-radius: 50%;
 transition: .4s;
 cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active{
 background: #467EF3;
}