// Поле ввода
.tf {
  position: relative;
  width: 100%;

  &.has-change-label {
    & .tf__field label {
      top: 0;
      transform: translate(-16%, 0) scale(0.7);
    }
  }
}

.tf__field {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background: none;

  &_textarea {
    height: 80px;
  }
}

.tf__field input,
.tf__field textarea {
  width: 100%;
  height: 100%;
  padding: 24px 0 4px 0;
  font-size: 18px;
  background: none;
  border-bottom: 1px solid #fff;
}

.tf__field label {
  position: absolute;
  top: 50%;
  left: 0;
  display: inline-block;
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  pointer-events: none;
  transition: $tr;
  transform: translate(0, -50%);
}

.tf__field_textarea {
  & label {
    top: 14px;
    transform: translate(0, 0);
  }
}

._textfield-error {
  &::after {
    display: inline-block;
    margin-top: 6px;
    font-size: 12px;
    color: $error;
    content: attr(data-textfield-error);
  }
}
