.section-title {
 margin-bottom: 4rem;
 font-size: 4.2rem;
 font-style: normal;
 font-weight: 700;
 text-transform: uppercase;
}

.section-desc {
 font-family: 'Oswald';
 font-size: 2rem;//20px
 font-weight: 400;
 letter-spacing: 0.1em;
 text-transform: uppercase;
 margin-bottom: 2rem;

}