.section-title {
   margin-bottom: 4rem;
   font-size: 4.2rem;
   font-style: normal;
   font-weight: 700;
   text-transform: uppercase;

   @media screen and (max-width: $tablet) {
      font-size: 3.2rem;
   }
}

.section-title a {
   transition: .3s ease-in-out;
}

.section-title a:hover {
   opacity: .7;
   transition: .3s ease-in-out;
}

.section-title a:active {
   color: var(--c-accent);
   opacity: 1;
}

.section-desc {
   font-family: 'Oswald';
   font-size: 2rem; //20px
   font-weight: 400;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   margin-bottom: 2rem;
}

.section-desc a {
   transition: .3s ease-in-out;
}

.section-desc a:hover {
   opacity: .7;
   transition: .3s ease-in-out;
}

.section-desc a:active {
   opacity: 1;
   color: var(--c-accent);
   transition: .3s ease-in-out;
}

.section-title-wr {
   @media (max-width: 1500px) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
   }
}