/*

    @link

*/

/* stylelint-disable */
.link {
   --link-color: var(--c-accent);
   color: var(--link-color);
   transition: all var(--tr) ease-in-out;
   padding: 0;
   justify-content: flex-start;
   border-bottom: 1px solid;
}

.link--inline {
   --link-color: var(--c-text-on);
   border-bottom: 1px solid var(--link-color);
   font-weight: 600;
}

.link:hover {
   @media (any-hover:hover) {
      --link-color: var(--c-accent);
   }
}

.link:active {
   opacity: 0.6;
}

/* stylelint-enable */