// Общие стили текста
@import "./base/text";

// Кнопки
@import "./base/buttons";

// Поля выбора
// @import "./base/select";

// Поля ввода
// @import "./base/textfield";

// Модальные окна
// @import "./base/modal";

// Аккордеоны (Спойлеры)
// @import "./base/accordion";

// @import "./components/timer";
