/* stylelint-disable scss/operator-no-newline-after */
// ШРИФТЫ
@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    font-stretch: 100%;
    src: url("#{$furl}.woff2") format("woff2"),
      url("#{$furl}.woff") format("woff");

    font-display: swap;
  }
}
//========================================================================================================================================================

// ЦВЕТА ========================================================================================================================================================
// Генерирует цвет по указанной яркости
@function brig-color($color, $brightness: 0) {
  @if $brightness == "hover" {
    @return adjust-color($color, $lightness: -3%);
  }
  @if $brightness == "active" {
    @return adjust-color($color, $lightness: -6%);
  }

  @return adjust-color($color, $lightness: 100% - ($brightness * 100%));
}

// Создать цвет rgba из hex
@function create-rgba($color, $opacity) {
  @return adjust-color($color, $alpha: -1 + $opacity);
}
//========================================================================================================================================================

// ЕДИНИЦЫ ИЗМЕРЕНИЯ ========================================================================================================================================================
//Percent
@function percent($px, $from) {
  $result: math.div($px, $from) * 100%;
  @return $result;
}
//REM
@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}
//EM
@function em($px, $current: 16) {
  $result: math.div($px, $current) + em;
  @return $result;
}
// line-height в px переводит в %
@function lhperc($font-size, $line-height-px) {
  @return calc(round(calc($line-height-px / $font-size) * 10) / 10);
}

// Адаптивный размер
@mixin resVal($property, $minSize, $maxSize, $minScreen, $maxScreen) {
  @media (min-width: #{$minScreen}px) and (max-width: #{$maxScreen}px) {
    #{$property}: calc(
      (100vw - #{$minScreen}px) / (#{$maxScreen} - #{$minScreen}) *
        (#{$maxSize} - #{$minSize}) + #{$minSize}px
    );
  }
}

// Адаптивный размер только с максимальным медиа запросом
@mixin resValNotMinWidth(
  $property,
  $minSize,
  $maxSize,
  $minScreen,
  $maxScreen
) {
  @media (max-width: #{$maxScreen}px) {
    #{$property}: calc(
      (100vw - #{$minScreen}px) / (#{$maxScreen} - #{$minScreen}) *
        (#{$maxSize} - #{$minSize}) + #{$minSize}px
    );
  }
}
//========================================================================================================================================================

// СЕТКА ========================================================================================================================================================
// Grids
@mixin gridCards($type: fit, $min: 280px, $max: 1fr, $gap: 30px) {
  display: grid;
  grid-template-columns: repeat(auto-#{$type}, minmax($min, $max));
  gap: $gap;
}
//========================================================================================================================================================

// ЭЛЕМЕНТЫ ========================================================================================================================================================
// Скроллбар
@mixin scrollbar(
  $width: 16px,
  $height: 100%,
  $thumb: #cecece,
  $track: transparent
) {
  &::-webkit-scrollbar {
    width: $width;
    height: $height;
  }

  &::-webkit-scrollbar-track {
    background: $track;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb;
  }
}

// Добавление префикса маски
@mixin mask($value) {
  $prefixes: "-webkit-", "";
  @each $prefix in $prefixes {
    #{$prefix}mask: $value;
  }
}

// Выделение контента на сайте
@mixin selection {
  $prefixes: ":" ":-moz-";
  @each $prefix in $prefixes {
    :#{$prefix}selection {
      @content;
    }
  }
}

// Плейсхолдер
@mixin placeholder {
  $placeholders: ":moz" ":webkit-input" "-moz" "-ms-input";
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

// Иконка загрузки
@mixin loader {
  position: relative;
  display: block;
  width: 1em;
  height: 1em;
  content: "";
  border: 2px solid #cecece;
  border-top-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinAround 500ms infinite linear;
}
//========================================================================================================================================================

@mixin getmask($image_path: null, $size: contain) {
  -webkit-mask: url("#{$image_path}");
  mask: url("#{$image_path}");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: #{$size};
  mask-size: #{$size};
}
