/* stylelint-disable no-invalid-position-at-import-rule */
@use "sass:math";

@import "./variables";
@import "./mixins";
@import "./components";

// Шрифты
@include font(
  "Oswald",
  normal,
  400,
  "../resources/fonts/oswald-regular"
);

@include font(
  "Montserrat",
  normal,
  400,
  "../resources/fonts/Montserrat-Regular"
);

@include font(
  "Montserrat",
  normal,
  500,
  "../resources/fonts/Montserrat-Medium"
);

@include font(
  "Montserrat",
  normal,
  600,
  "../resources/fonts/Montserrat-SemiBold"
);

@include font(
  "Montserrat",
  normal,
  700,
  "../resources/fonts/Montserrat-Bold"
);

@include font(
  "Montserrat",
  normal,
  800,
  "../resources/fonts/Montserrat-ExtraBold"
);

@include font(
  "Montserrat",
  normal,
  900,
  "../resources/fonts/Montserrat-Black"
);

// Сброс CSS
@import "./reset";

html {
  font-size: 0.8333333333vw;

}

body {
  font-family: $ff-main;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2;
  color: $text-primary;
  background-color: var(--bg-app);
}
body._lock {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}
.wrapper > .content {
  position: relative;
  z-index: 1;
  flex: 1 0 auto;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например header__container, main__container и т.д.
*/
[class*="__container"] {
  @if ($max-width-container > 0) {
    box-sizing: content-box;
    max-width: $max-width-container;
    margin: 0 auto;
  }
  @if ($container-padding > 0) {
    padding: 0 var(--container-padding);
  }

  @media (max-width: $tablet) {
    --container-padding: 30px;
  }

  @media (max-width: $mobile-l) {
    --container-padding: 20px;
  }

  @media (max-width: $mobile-m) {
    --container-padding: 16px;
  }
}

// Библиотеки
@import "./libs/swiper";
// @import "./libs/lightgallery";
// @import "./libs/rangeslider";

// Базовые стили, шаблоны, заготовки
@import "./base";

// Общие стили проекта
@import "./common";

// Карточки
// @import "./components/cards/";

// Модальные окна
// @import "./components/modals/";

// Секции
@import "./sections/header";
@import "./sections/main";
@import "./sections/hero";
@import "./sections/footer";
@import "./sections/news";
@import "./sections/catalog";
@import "./sections/articles";
@import "./sections/ads-sidebar";
@import "./sections/page-heading";
@import "./sections/offers";
@import "./sections/events";
@import "./sections/tuning";
@import "./sections/brands";
@import "./sections/advertisement";


// Стили для отдельных страниц
// @import "./pages/";
